<link rel="stylesheet" href="/css/styles.css" />
<body>
  <div class="container">
    <div class="row">
      <div class="full column">

        <div class="wrap">
          <h1>Details</h1>
          <hr />
          <aside><button onclick="window.location.href='/'">Back to Titans</button></aside>
  
          <h3><%= result.name %></h3>
          <p>Strength: <b><%= result.str %></b></p>
          <p>Dexterity: <b><%= result.dex %></b></p>
          <p>Charisma: <b><%= result.cha %></b></p>
          <p>Constitution: <b><%= result.con %></b></p>
          <p>intelligence: <b><%= result.int %></b></p>
          <p>Wisdom: <b><%= result.wis %></b></p>
        </div>
       
      </div>
    </div>
  </div>
</body>
